#chart {
    /* max-width: 380px;
    margin: 35px auto;
    padding: 0; */
    color: #ffff;
  }
  
   .todo{
    background-color: #29293d;
    color: white;
   }
   /* .table{
    background-color: #29293d;
    color: white;
   } */
